<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @sale.Product %>
</p>

<p>
  <strong>Client:</strong>
  <%= @sale.Client %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @sale.fecha %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
