<p id="notice"><%= notice %></p>

<div class="panel panel-primary col-md-offset-2 col-md-3">
  <div class="panel-heading">producto</div>
  <p>
    <strong>Product:</strong>
    <%= @sale.product %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= @sale.client %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= @sale.fecha %>
  </p>
 </div>

<%= link_to 'Editar', edit_sale_path(@sale) %> |
<%= link_to 'Atras', sales_path %>
