<p id="notice"><%= notice %></p>

<p>
  <strong>Rut:</strong>
  <%= @client.rut %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @client.nombre %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @client.telefono %>
</p>

<p>
  <strong>Codigo servicio:</strong>
  <%= @client.codigo_servicio %>
</p>

<p>
  <strong>Monto gastado:</strong>
  <%= @client.monto_gastado %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
