<!DOCTYPE html>
<html>
<head>
  <title>Venus</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<!--=================================NAVBAR========================================= -->
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expande d="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">
                <%= image_tag "logo.jpg" %>
              </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class="active"><%=link_to "Home", root_path%></li>
                <% if user_signed_in? %>
                  <%@usuario = User.find(current_user.id)%>
                  <% if @usuario.tipo_usuario == 1 %>
                    <li><%=link_to "Admin", admin_url%></li>
                  <% elsif @usuario.tipo_usuario == 2 %>
                    <li><%=link_to "Estilista", estilista_url%>
                  <% elsif @usuario.tipo_usuario == 3 %>
                    <li><%=link_to "Contador", contador_url%>
                  <% end %>
                <% end %>
                <li><%=link_to "Sobre nosotros", root_path%></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Configuración <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                  <% if user_signed_in? %>
                    <li><%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %></li>
                    <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
                  <% else %>
                    <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
                  <% end %>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
<!--===================================FIN NAVBAR==================================-->

<!--=======================lista de opciones segun usuario=========================-->
<div class="col-md-2">
<<<<<<< HEAD
      <div class="list-group">
        <% if user_signed_in? %>
              <%@usuario = User.find(current_user.id)%>
=======
    <div class="list-group">
        <% if user_signed_in? %>
            <%@usuario = User.find(current_user.id)%>
>>>>>>> c1fd2523657a95cfa9fdcb8a74e9cd1d1e9001fd
            <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'list-group-item active' %>
            <% if @usuario.tipo_usuario == 1 %>
                <%= link_to 'Usuario', nuevo_producto_url, :class => 'list-group-item glyphicon glyphicon-user' %>
                <%= link_to 'Crear producto', nuevo_producto_url, :class => 'list-group-item' %>            
                <%= link_to 'Crear producto', nuevo_producto_url, :class => 'list-group-item' %>            
                <%= link_to 'Listar productos', products_url, :class => 'list-group-item' %>
            <% end %>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'list-group-item' %>
        <% end %>
        
    </div>
</div>

<!--===========================fin lista de opciones=================================-->

<%= yield %>

</body>
</html>
