<p id="notice"><%= notice %></p>

<h1>Estilista</h1>

<div class="panel panel-primary col-md-offset-2">
  <div class="panel-heading">Estilistas</div>

  <table class="table">
    <thead>
      <tr>
        <th>Nombre estilista</th>
        <th>Telefono</th>
        <th>Direccion</th>
        <th>Sueldo base</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @stylists.each do |stylist| %>
        <tr>
          <td><%= stylist.nombre_estilista %></td>
          <td><%= stylist.telefono %></td>
          <td><%= stylist.direccion %></td>
          <td><%= stylist.sueldo_base %></td>
          <% if user_signed_in? %>
            <%@usuario = User.find(current_user.id)%>
            <% if @usuario.tipo_usuario == 1 %>
              <td><%= link_to 'Mostrar', stylist %></td>
              <td><%= link_to 'Editar', edit_stylist_path(stylist) %></td>
              <td><%= link_to 'Eliminar', stylist, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<% if user_signed_in? %>
  <%@usuario = User.find(current_user.id)%>
  <% if @usuario.tipo_usuario == 1 %>
    <%= link_to 'Nuevo estilista', new_stylist_path %>
  <% end %>
<% end %>