
<p id="notice"><%= notice %></p>

<h1> Usuarios</h1>

<div class="panel panel-primary col-md-offset-1 col-md-4">
  <div class="panel-heading">Usuarios</div>

  <table class="table">
    <thead>
      <tr>
        <th>Email</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <% if user_signed_in? %>
            <%@usuario = User.find(current_user.id)%>
            <% if @usuario.tipo_usuario == 1  %>
              <!--======revisar funcion editar, edita al usuario conectado, mismo problema qu eliminar===-->
              <td><%= link_to 'Editar', edit_user_registration_path(user) %></td>
              <!--====revisar funcion que elimina (elimina el usuario conectado, no quien la llama)===-->
              <!--<td><#%= link_to 'Eliminar', registration_path(user), data: { confirm: "Estas seguro?" }, method: :delete %></td>-->
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<!--===========================revisar=========================-->
<% if user_signed_in? %>
  <%@usuario = User.find(current_user.id)%>
  <% if @usuario.tipo_usuario == 1 or @usuario.tipo_usuario == 2 %>
    <%=%>
    <%= link_to 'Nuevo usuario', ('/users/sign_up') %>
  <% end %>
<% end %>