<p id="notice"><%= notice %></p>

<h1> Productos</h1>

<div class="panel panel-primary col-md-offset-2">
  <div class="panel-heading">Productos</div>

  <table class="table">
    <thead>
      <tr>
        <th>Codigo producto</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Stock</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.codigo_producto %></td>
          <td><%= product.nombre %></td>
          <td><%= product.precio %></td>
          <td><%= product.stock %></td>
          <% if user_signed_in? %>
            <%@usuario = User.find(current_user.id)%>
            <% if @usuario.tipo_usuario == 1  %>
              <td><%= link_to 'Mostrar', product %></td>
              <td><%= link_to 'Editar', edit_product_path(product) %></td>
              <td><%= link_to 'Eliminar', product, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if user_signed_in? %>
  <%@usuario = User.find(current_user.id)%>
  <% if @usuario.tipo_usuario == 1 or @usuario.tipo_usuario == 2 %>
    <%= link_to 'Nuevo producto', new_product_path %>
  <% end %>
<% end %>