<p id="notice"><%= notice %></p>

<div class="panel panel-primary col-md-offset-2 col-md-3">
  <div class="panel-heading">producto</div>
  <p>
    <strong>Codigo producto:</strong>
    <%= @product.codigo_producto %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= @product.nombre %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= @product.precio %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= @product.stock %>
  </p>
</div>

<%= link_to 'Editar', edit_product_path(@product) %> |
<%= link_to 'Atras', products_path %>
