<p id="notice"><%= notice %></p>

<h1>Servicios</h1>

<div class="panel panel-primary col-md-offset-2">
  <div class="panel-heading">Servicios</div>

  <table class="table">
    <thead>
      <tr>
        <th>Codigo servicio</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Estilista</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @services.each do |service| %>
        <tr>
          <td><%= service.codigo_servicio %></td>
          <td><%= service.nombre %></td>
          <td><%= service.precio %></td>
          <td><%= service.stylist %></td>
          <% if user_signed_in? %>
            <%@usuario = User.find(current_user.id)%>
            <% if @usuario.tipo_usuario == 1 %>
              <td><%= link_to 'Mostrar', service %></td>
              <td><%= link_to 'Editar', edit_service_path(service) %></td>
              <td><%= link_to 'Eliminar', service, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<% if user_signed_in? %>
  <%@usuario = User.find(current_user.id)%>
  <% if @usuario.tipo_usuario == 1 or @usuario.tipo_usuario == 2 %>
    <%= link_to 'Nuevo Servicio', new_service_path %>
  <% end %>
<% end %>