<p id="notice"><%= notice %></p>

<div class="panel panel-primary col-md-offset-2 col-md-3">
  <div class="panel-heading">producto</div>
  <p>
    <strong>Codigo servicio:</strong>
    <%= @service.codigo_servicio %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= @service.nombre %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= @service.precio %>
  </p>

  <p>
    <strong>Stylist:</strong>
    <%= @service.stylist %>
  </p>
</div>

<%= link_to 'Editar', edit_service_path(@service) %> |
<%= link_to 'Atras', services_path %>
